.Member-padding {
    padding-top: 195px;
    padding-bottom: 40px;
    }

    @media only screen and (min-width: 1200px) and (max-width: 1600px) {
    /* line 789, ../../../sponDon TI/Running Project/263.InteriorDesign_HTML/HTML/assets/scss/_common.scss */
    .Member-padding {
        padding-top: 125px;
    }
    }

    @media only screen and (min-width: 992px) and (max-width: 1199px) {
    /* line 789, ../../../sponDon TI/Running Project/263.InteriorDesign_HTML/HTML/assets/scss/_common.scss */
    .Member-padding {
        padding-top: 100px;
    }
    }

    @media only screen and (min-width: 768px) and (max-width: 991px) {
    /* line 789, ../../../sponDon TI/Running Project/263.InteriorDesign_HTML/HTML/assets/scss/_common.scss */
    .Member-padding {
        padding-top: 100px;
    }
    }

    @media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 789, ../../../sponDon TI/Running Project/263.InteriorDesign_HTML/HTML/assets/scss/_common.scss */
    .Member-padding {
        padding-top: 65px;
    }
    }

    @media (max-width: 575px) {
    /* line 789, ../../../sponDon TI/Running Project/263.InteriorDesign_HTML/HTML/assets/scss/_common.scss */
    .Member-padding {
        padding-top: 65px;
    }
    }

    .btnm {
    background: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    height: 40px;
    text-transform: uppercase;
    font-family: "Barlow Condensed", sans-serif;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    border-radius: 0px;
    -moz-user-select: none;
    font-weight: 550;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    border-radius: 10px;
    overflow: hidden;
    margin: 0;
    }

    .btnm::before {
    content: "";
    position: absolute;
    color: #000;
    z-index: 1;
    transform-origin: 0 0;
    transform: scaleX(0);
    border-radius: 0;
    }

    /* line 290, ../../../sponDon TI/Running Project/263.InteriorDesign_HTML/HTML/assets/scss/_common.scss */
    .btnm:hover::before {
    transform: scaleX(1);
    color: #000000 !important;
    z-index: -1;
    }

    .titleM {
    font-size: 72px;
    }

    .profileimg {
    }

    .name{
        color: black;
    }

    .our-team {
    padding: 30px 0 40px;
    margin-bottom: 30px;
    background-color: #f7f5ec;
    text-align: center;
    overflow: hidden;
    position: relative;
    }

    .our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
    }

    .our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
    }

    .our-team:hover .picture::before {
    height: 100%;
    }

    .our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    }

    .our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
    }

    .our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
    }

    .our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
    }

    .our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #1369ce;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
    }

    .our-team:hover .social {
    bottom: 0;
    }

    .our-team .social li {
    display: inline-block;
    }

    .our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    }

    .our-team .social li a:hover {
    color: #1369ce;
    background-color: #f7f5ec;
    }
